@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
html{
    font-size: 80.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
  }
  @media screen and (max-width: 992px) {
    .menudata{
      visibility: hidden;
    }
    #searchfield{
      visibility: hidden;
    }
    #navbarSupportedContent{
      background-color: #333;
      margin-right:60%;
      margin-left:0px;
      position: relative;
      left:-10px;
      padding:5px 5px;  
    }
    #travelhead{
      position: absolute;
      left:42%;
    }
   
    /* #menutoggle:checked + .menudata{
      visibility: visible ;
    } */

  }



.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}
#navbar {
  position: fixed;
  top:0px;z-index: 1000;
  width:100%;
  margin:0px;
  padding: 0px;
  height: 60px;
  
}
.menu {
  display: flex;
  width: 60rem;
  justify-content: space-around;
  margin-left:2rem;

} 
.menu li a:hover{
  color:#2ddf62 !important;
  
}
.menu a:hover i{
  color:#2ddf62 !important;
}

#menutoggler{
  color:white;
  background-color: #2ddf62;
}
#menuitem{
  display: flex;
  flex-direction: column !important;
} 

#navbarSupportedContent ul li a {
  color: whitesmoke;
  text-decoration: none;
  /* padding:2rem; */
  font-size: 1.2rem;
  
}  
#navbar .container-fluid
{
  
  background-color: #333;
  height: 100%;
}
#navbar a{
  text-decoration: none;
}
#searchfield{
  position: absolute;
  right: 50px;
}
#travelhead span{
  color:#2ddf62;
}
#travelhead{
  color:white;
}
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.home .content {
  color: white;
  text-align: center;
}
.home .content h3 {
  font-size: 40px;
}
.home .content p {
  font-size: 30px;
}
#discovermr {
  color: white;
  background-color: #2ddf62;
}
#discovermr:hover {
  color: #41da6f;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 1px;
  border-color: #2ddf62;
}


.book .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
    margin: 10px 40px;
  }
  
  .book .row .image{
    flex:1 1 40rem;
  }
  
  .book .row .image img{
    width:70%;
  }
  
  .book .row form{
    flex:1 1 40rem;
    padding:2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: .5rem;
  }
  
   /* .book .row form .inputBox{
    padding:.5rem 0;
  } */
  
  .book .row form .inputBox input{
    width:100%;
    padding:0px;
    border:.1rem solid rgba(0,0,0,.1);
    font-size: 1.3rem;
    color:#333;
    text-transform: none;
  }
  
  .book .row form .inputBox h3{
    font-size: 2rem;
    padding:1rem 0;
    color:#666;
  }  
  .submitbtn{
    background-color: #2ddf62;
    border:0.5px solid rgb(129, 177, 129);
    box-shadow: 1 5rem 10rem green;
    color: white;
    padding : 8px 30px;
    margin-top: 1rem;
  }
  .book .heading{
    text-align: center;
    margin-top: 20px;
  }
  .book .heading span{
    background-color: rgba(54, 211, 75, 0.329);
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
    color:#2ddf62;
    /* padding: 0px 10px; */
    text-align: center;
  }
  .space{
    background-color: white !important;
    width: 5rem ;

  }
.packages{
    margin:1rem 10rem;
}
.packages .heading{
    margin-top:20px;
}
.packages .box-container{
    display: flex;
}

.packages .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
  }
  
  .packages .box-container .box{
    flex:1 1 26rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  }
  
  .packages .box-container .box img{
    height: 20rem;
    width:100%;
    object-fit: cover;
  }
  
  .packages .box-container .box .content{
    padding:2rem;
    font-size:1.1rem;
  }
  
  .packages .box-container .box .content h3{
    font-size:1.5rem;
    color:#333;
  }
  
  .packages .box-container .box .content h3 i{
    color: #2ddf62;
  }
  
  .packages .box-container .box .content p{
    font-size:1.7rem;
    color:#666;
    padding:1rem 0;
  }
  
  .packages .box-container .box .content .stars i{
    font-size:1.5rem;
    color: #2ddf62;
  }
  .packages .box-container .box .content p{
    font-size:1.3rem;
    
  }
  .packages .box-container .box .content .btn{
    background-color:#2ddf62;
    color: white;
    
  }
  
  .packages .box-container .box .content .price{
    font-size: 1.5rem;
    color:#333;
    padding-top: 1rem;
  }
  
  .packages .box-container .box .content .price span{
    color:#666;
    font-size: 1.2rem;
    text-decoration: line-through;
  }
  
.services{
    margin:2rem 8rem;

}
  .services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.1rem;
  }
  
  .services .box-container .box{
    flex: 1 1 24rem;
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
  }
  
  .services .box-container .box i{
    padding:1rem;
    font-size: 5rem;
    color:#2ddf62;
  }
  
  .services .box-container .box h3{
    font-size: 2.1rem;
    color:#333;
  }
  
  .services .box-container .box p{
    font-size: 1.2rem;
    color:#666;
    padding:1rem 0;
  }
  
  .services .box-container .box:hover{
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  }
  .contact .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
  }
  
  .contact .row .image{
    flex:1 1 35rem;
  }
  
  .contact .row .image img{
    width:100%;
  }
  
  .contact .row form{
    flex:1 1 50rem;
    padding:2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: .5rem;
  }
  
  .contact .row form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .contact .row form .inputBox input, .contact .row form textarea{
    width:49%;
    height: 3rem;
    margin:1rem 0;
    padding:1rem;
    font-size: 1.3rem;
    color:#333;
    background:#f7f7f7;
    text-transform: none;
  }
  .contact .row form .btn{
    background-color: #2ddf62;
    color:white;
    padding:1rem 3rem;
    font-size: 1.3rem;
  }
  .contact .row form textarea{
    height: 15rem;
    resize: none;
    width:100%;
  }
  
  .footer{
    background:#333;
    padding: 0px;
    margin:0px;
    
  }
  
  .footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.2rem;
    margin:2rem 5rem;
    padding: 2rem;

  }
  
  .footer .box-container .box{
    padding:0.2rem 0;
    flex:1 1 20rem;
  }
  
  .footer .box-container .box h3{
    font-size: 1.7rem;
    padding:.7rem 0;
    color:#fff;
  }
  
  .footer .box-container .box p{
    font-size: 1rem;
    padding:.2rem 0;
    color:#eee;
  }
  
  .footer .box-container .box a{
    display: block;
    font-size: 1.1rem;
    padding:.5rem 0;
    color:#eee;
    text-decoration: none;
  }
  
  .footer .box-container .box a:hover{
    color:#2ddf62;
    /* text-decoration: underline; */
  }
  
  .footer .credit{
    text-align: center;
    padding:2rem 1rem;
    margin-top: 1rem;
    margin-bottom: 0px;
    margin-left:5rem;
    margin-right: 5rem;
    font-size: 1.4rem;
    font-weight: normal;
    color:#fff;
    border-top: .1rem solid rgba(255,255,255,.2);
  }
  
  .footer .credit span a{
    color:#2ddf62;
    text-decoration: none;
  }
  